/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

.errorlist {
  color: red;
}

.selectable {
  cursor: pointer;
}

#sidebar-wrapper .fa {
  color: lawngreen;
  margin-right: 15px;
}

#menu-toggle {
  margin-right: 25px;
}

#sidebar-wrapper li a {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
}

.login {
  margin-top: 5%;
}

.login-card{
  -webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif !important;
}

input[type="text"] {
  padding-left: 15px;
}

#report-list {
  border: 1px solid lightgray;
}

#report-list td {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}

.report-site-date,
.address {
  font-size: 1.25em;
}

#testList li a {
  color: black;
  font-size: 1.25em;
}

#testList li:hover {
  background-color: lightgray;
}

.test-table tr:last-child,
.test-table tr:last-child:hover {
  background-color: unset !important;
}

#back-button img {
  height: 60px;
  margin: 15px 10px;
}

.report-site-description {
  font-size: 2em;
  margin: 5px 10px;
  display: block;
}

.report-site-location {
  font-size: 1.5em;
  font-weight: bold;
  margin: 5px 10px;
  display: block;
}

.report-site-name {
  font-size: 1.25em;
  font-weight: normal;
  margin: 5px 10px;
  display: block;
}



#menu-toggle img {
  height: 60px;
  margin: 15px 10px;
}

.row {
  margin: 10px 10px;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#sidebar-wrapper li img {
  width: 30px;
  margin-right: 5px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}



/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 10px 0px;
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  font-size: 1.25em;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
  font-weight: bold;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}