{% extends 'lab_reports/sidebar.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1>Dashboard</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-9">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Recently Created</h4>
      </div>
      <div class="card-body">
        <table class="table table-hover table-striped table-bordered">
          <thead class="thead">
            <tr>
              <th scope="col">Description</th>
              <th scope="col">Location</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            {% for report in data.reports %}
            <tr class="selectable" onclick="window.document.location='{% url 'lab_reports:report-detail' report.id %}'" ;>
              <td><i class="{{ report.site.get_location_icon }}" style="margin-right: 10px; color: {{ report.site.get_location_font_color }};"></i>{{ report.site.description }}</td>
              <td>{{ report.site.location }}</td>
              <td>{{ report.report_date|date:"l M d, Y" }}</td>
            </tr>
            {% empty %}
            <tr>
              <td>No reports available</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
  </div>
</div>
{% endblock %}
<!-- /#page-content-wrapper -->