{% extends 'lab_reports/sidebar.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h4>Report Remarks</h4>
      </div>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} {% for field in form %}
        <div class="form-group form-control-lg">
          <div class="row">
            <div class="col">
              {{ field }}
            </div>
          </div>
        </div>
        {% endfor %}
        <button class="btn btn-primary btn-lg" style="margin: 5% 5% 5% 10%; width: 80%;" type="submit" value="Submit">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}