{% extends 'lab_reports/sidebar.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class='col-lg-2'>
      <a class="btn btn-danger btn-block" href="{% url 'lab_reports:report-delete' report.id %}" class="top-menu">Delete Report</a>
    </div>
    <div class='col-lg-9'>
      <h3 class="text-center">Laboratory Report</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <img src="{% static 'lab_reports/images/report_logo.png' %}" style="max-width: 160px;" />
    </div>
    <div class='col-lg-7'>
      <div class="address">
        Kem-Tek Chemical
        <br> 109 Cedarwood Drive Laflin, PA 18702
        <br> P.570-654-3487 F.570-654-4647
        <br> P.Sicilio@gmail.com
        <br>
      </div>
    </div>
    <div class='col-lg-3'>
      <div class="report-site-date text-right">{{report.report_date|date:"l M d, Y"|upper}}</div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-10">
      <div class="report-site-name">{{report.site.name}}</div>
      <div class="report-site-description">{{report.site.description}}</div>
      <div class="report-site-location">{{report.site.location}}</div>
    </div>
    <div class="col-lg-2">
      <a href="#" class="btn btn-block btn-lg btn-dark">Send</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped table-hover table-responsive-lg test-table">
        <thead>
          <tr>
            <th scope="col">Description</th>
            <th scope="col">Measurement</th>
            <th scope="col">Residuals</th>
            <th scope="col">Parameters</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% if tests %} {% for test in tests %}
          <tr>
            <td>{{ test.get_description_display }}</td>
            <td>{{ test.measurement }}</td>
            <td>{{ test.residuals }}</td>
            <td>{{ test.parameters }}</td>
            <td>
              <a href="{% url 'lab_reports:test-edit' test.id %}" class="btn btn-primary">Edit</a>
              <a href="{% url 'lab_reports:test-delete' test.id %}" class="btn btn-danger">Del&nbsp</a>
            </td>
            {% endfor %} {% else %}
            <td colspan="5">There are no tests in this report</td>
            {% endif%}
          </tr>
          <tr>
            <td colspan="5">
              <div class="card" style="margin-top: 20px; width: 100%;">
                <div class="card-body">
                  <h3 class="card-title">Remarks <a href="{% url 'lab_reports:report-edit-remarks' report.id %}" class="btn btn-warning">Edit</a></h3> {% if report.remarks %}
                  <p class="card-text">{{ report.remarks }}</p>
                  {% else %}
                  <p class="card-text">No remarks</p>
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <a class="btn btn-success btn-block" href="{% url 'lab_reports:test-add' report.id %}" class="top-menu">Add Test</a>
      <a class="btn btn-info btn-block" href="{% url 'lab_reports:report-download' report.id %}" class="top-menu">PDF</a>
    </div>
  </div>
</div>
{% endblock %}