{% extends 'lab_reports/sidebar.html' %} {% load static %} {% block content %}
<form style="margin-top: 25px;" action="" method="post">{% csrf_token %}
  <div class="form-group">
    <h3>Are you sure you want to delete report: <br><b> {{ object.report_date|date:"l M d, Y" }} - {{ object.site.description }} </b>?</h3>
    <input type="submit" value="Confirm" class="btn btn-block btn-large btn-danger" />
  </div>
</form>
{% endblock %}