{% load static %} {% block content %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">
  <title>Kem-Tek Chemical</title>
  <link rel="stylesheet" type="text/css" href="{% static 'lab_reports/css/simple-sidebar.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class='col-md-2'>
      </div>
      <div class='col-md-9'>
        <h3 class="text-center">Laboratory Report</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 pull-left">
        <img src="{% static 'lab_reports/images/report_logo.png' %}"/>
      </div>
      <div class='col-lg-5'>
        <div class="address">
          Kem-Tek Chemical
          <br> 109 Cedarwood Drive Laflin, PA 18702
          <br> P.570-654-3487 F.570-654-4647
          <br> P.Sicilio@gmail.com
          <br>
        </div>
      </div>
      <div class='col-lg-3'>
        <div class="report-site-date text-right">{{report.report_date|date:"l M d, Y"|upper}}</div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-10">
        <div class="report-site-name">{{report.site.name}}</div>
        <div class="report-site-description">{{report.site.description}}</div>
        <div class="report-site-location" style='margin-bottom: 30px;'>{{report.site.location}}</div>
      </div>
    </div>
    <div class="row">
      <table class="table table-striped table-hover test-table">
        <thead>
          <tr>
            <th scope="col">Description</th>
            <th scope="col">Measurement</th>
            <th scope="col">Residuals</th>
            <th scope="col">Parameters</th>
          </tr>
        </thead>
        <tbody>
          {% if tests %} {% for test in tests %}
          <tr>
            <td>{{ test.get_description_display }}</td>
            <td>{{ test.measurement }}</td>
            <td>{{ test.residuals }}</td>
            <td>{{ test.parameters }}</td>
            {% endfor %} {% else %}
            <td colspan="4">There are no tests in this report</td>
            {% endif%}
          </tr>
          <tr style="background-color: white">
            <td colspan="5">
              <div class="card" style="margin-top: 20px; width: 100%;">
                <div class="card-body">
                  <h3 class="card-title">Remarks</h3> {% if report.remarks %}
                  <p class="card-text">{{ report.remarks }}</p>
                  {% else %}
                  <p class="card-text">No remarks</p>
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
{% endblock %}