{% extends 'lab_reports/sidebar.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Site Detail</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ site.description }}</h3>
        <h5 class="card-subtitle mb-2 text-muted">{{ site.name }}</h5>
        <h4 class="card-text" style="color: {{ site.get_location_font_color }};"><i class="{{ site.get_location_icon }}" style="margin-right: 5px;"></i>{{ site.location }}</h4>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <a href="{% url 'lab_reports:report-add' site.id %}" type="button" class="btn btn-success btn-block btn-lg">New Report</a>
    <a class="btn btn-block btn-lg btn-primary" type="button" data-toggle="collapse" href="#report-list" aria-expanded="false" aria-controls="report-list">
    Open Report
  </a>
    <div class="collapse" id="report-list">
      <table class="table table-hover">
        {% if reports %} {% for report in reports %}
        <tr class="selectable" onclick="window.document.location='{% url 'lab_reports:report-detail' report.id %}'">
          <td><i class="fa fa-file-text-o" style="margin-right: 10px;"></i>{{ report.report_date|date:"l M d, Y" }}</td>
        </tr>
        {% endfor %} {% else %}
        <tr>
          <td>There are no reports for this site</td>
        </tr>
        {% endif %}
      </table>
    </div>
  </div>
</div>
{% endblock %}