{% extends 'lab_reports/sidebar.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Site List</h1>
    <hr>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-hover table-striped table-bordered">
    <thead class="thead">
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tbody>
      {% for site in sites %}
      <tr class="selectable" onclick="window.document.location='{% url 'lab_reports:site-detail' site.id %}'" ;>
        <td><i class="{{ site.get_location_icon }}" style="margin-right: 10px; color: {{ site.get_location_font_color }};"></i>{{ site.description }}</td>
        <td>{{ site.location }}</td>
      </tr>
      {% empty %}
      <tr>
        <td>No sites available</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}