{% load static %} {% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">
  <title>Kem-Tek Chemical</title>
  <link rel="stylesheet" type="text/css" href="{% static 'lab_reports/css/simple-sidebar.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="
  sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body style="background-image: url({% static 'lab_reports/images/login-background.jpg' %});">
  <div class="container login">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <form class="form-horizontal" role="form" method="POST" action="{% url 'lab_reports:login' %}">
          {% csrf_token %}
          <div class="card login-card">
            <img class="card-img-top" src="{% static 'lab_reports/images/logo-main.jpg' %}" alt="Card image cap">
            <hr>
            <div class="card-body">
              <div class="col-md-12 text-center">
                {% block content %}
                <h5 style="margin-bottom: 30px;">You have successfully logged out</h5>
                <a class="btn btn-success btn-large btn-block" href="/login"><i class="fa fa-sign-in"></i> Login</a> {% endblock %}
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-3"></div>
      </form>
    </div>
  </div>
</body>

</html>