{% extends 'lab_reports/sidebar.html' %} {% load static %} {% block content %}
<form style="margin-top: 25px;" action="" method="post">{% csrf_token %}
  <div class="form-group">
    <h3>Are you sure you want to delete test <br><b> {{ object.get_description_display }} - {{ object.report.site.description }} ?</b></h3>
    <input type="submit" value="Confirm" class="btn btn-block btn-large btn-danger" />
  </div>
</form>
{% endblock %}