{% extends 'lab_reports/sidebar.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <h4>Add Test</h4>
      </div>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} {% for field in form %}
        <div class="form-group form-control-lg">
          <div class="row">
            <div class="col">
              {{ field.label_tag }}
            </div>
            <div class="col">
              {{ field }}
            </div>
          </div>
        </div>
        {% endfor %}
        <button class="btn btn-primary btn-lg" style="margin: 5% 5% 5% 10%; width: 80%;" type="submit" value="Submit">Submit</button>
      </form>
    </div>
  </div>
  <div class="col-lg-6 offset-lg-1">
    <table class="table table-striped">
      <thead>
      	<tr>
      		<th colspan="4">
      			<h3>Current Tests</h3>
      		</th>
      	</tr>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Measurement</th>
          <th scope="col">Residuals</th>
          <th scope="col">Parameters</th>
        </tr>
      </thead>
      <tbody>
        {% for test in tests %}
        <tr>
          <td>{{ test.get_description_display }}</td>
          <td>{{ test.measurement }}</td>
          <td>{{ test.residuals }}</td>
          <td>{{ test.parameters }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}