{% extends 'lab_reports/sidebar.html' %} {% load static %} {% block content %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ test.report }}</h4>
    <div class="card-text">
      {{ test.description }}<br>
      {{ test.measurement }}<br>
      {{ test.residuals }}<br>
      {{ test.parameters }}<br>
    </div>
  </div>
</div>
{% endblock %}

